:root {
  --primary: #4e6168;
  --secondary: #4427ec;
  --tertiary: #b43830;
}

.hero {
  background-color: var(--primary);
  height: 20vh;
  background-size: cover;
  color: var(--tertiary);
  padding-top: 2vh;
  padding-bottom: 4vh;
}

html body {
  background-color: var(--secondary);
  color: white;
}

ul {
  list-style-type: none;
}

html a {
  color: midnightblue;
  text-decoration: none;
}

.navActive {
  color: white;
}

.navTab:hover {
  background-color: var(--secondary);
}

#me {
  /* height: 45vh;
  width: 20vw; */
  max-width: 500px; 
  height: auto;
  border-radius: 50%;
}

#navSpan {
  font-size: 5vh;
  cursor: pointer;
}

#myName {
  font-size: 7vh;
  cursor: pointer;
}

.success {
  background-color: var(--tertiary);
  color: rgb(61, 48, 250);
}

.container:hover img {
  opacity: 0.3;
}

.middle {
  opacity: 0;
  position: relative;
}

.container:hover .middle {
  opacity: 0.8;
}

input, label {
  display: block;
}

textarea, label {
  display: block;
}

input, textarea {
  width: 60vw;
}

#skills {
  border-color: var(--primary);
  border-style: solid;
  border-width: thick;
  border-radius: 1vw;
}

@media only screen and (max-width: 1299px) {
  #navSpan {
    font-size: 4vh;
    cursor: pointer;
  }
  
  #myName {
    font-size: 6vh;
    cursor: pointer;
  }

  #me {
    /* height: 45vh;
    width: 20vw; */
    max-width: 300px; 
    height: auto;
    border-radius: 50%;
  }  
}

@media only screen and (max-width: 900px) {
  #navSpan {
    font-size: 3vh;
    cursor: pointer;
  }
  
  #myName {
    font-size: 5vh;
    cursor: pointer;
  }
  
  #me {
    /* height: 45vh;
    width: 20vw; */
    max-width: 200px; 
    height: auto;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 400px) {
  #navSpan {
    font-size: 2vh;
    cursor: pointer;
  }
  
  #myName {
    font-size: 4vh;
    cursor: pointer;
  }
}